$mobile-width: 375px;
$primary-color-background-intro: hsl(217, 28%, 15%);
$primary-color-background-main: hsl(218, 28%, 13%);
$primary-color-background-footer: hsl(216, 53%, 9%);
$primary-color-background-testimonials: hsl(219, 30%, 18%);
$accent-color-cyan: hsl(176, 68%, 64%);
$accent-color-blue: hsl(198, 60%, 50%);
$neutral-color: white;
$body-font-size: 14px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

a {
  text-decoration: none;
  color: $neutral-color;
}

button {
  padding: 20px 100px;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.2rem;
  color: $neutral-color;
  background-color: $accent-color-blue;
  background-image: linear-gradient(to right, $accent-color-cyan, $accent-color-blue);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s;

  &:hover {
    cursor: pointer;
    background-image: unset;
    background-color: $accent-color-cyan;
  }

  @include mobile {
    padding: 15px 70px;
    font-size: 0.8rem;

  }
}

h1 {
  font-size: 2.2rem;
  margin: 30px 0;
  line-height: 150%;
}

body {
  font-size: $body-font-size;
  margin: 0;
  background-color: $primary-color-background-intro;
  user-select: none;
  color: $neutral-color;
  font-family: 'Open Sans';

  &:hover {
    cursor: default;
  }

  .page-container {

    .header-container {
      padding: 5%;
      padding-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-container {
        width: 20%;
        display: flex;
        justify-content: space-between;
        font-family: 'Raleway';
        font-size: 1.2rem;

        a {
          transition: color 0.2s;

          &:hover {
            color: $accent-color-cyan;
          }
        }

      }
    }

    .first-section {
      padding: 0 5%;
      margin: 5% auto;
      text-align: center;

      .text-container {
        width: 50%;
        margin: auto;

        p {
          font-size: 1.4rem;
          width: 80%;
          margin: 40px auto;
        }
      }
    }

    .background-curve {
      position: relative;
      margin-top: -18%;
      z-index: -1;

      img {
        width: 100%;
        display: block;
      }

      .mobile {
        display: none
      }

      @media only screen and (max-width: $mobile-width) {
        .desktop {
          display: none;
        }

        .mobile {
          display: block;
        }
      }
    }

    .second-section {
      padding: 0 5% 8%;
      background-color: $primary-color-background-main;

      .section-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 75%;
        margin: auto;
        justify-items: center;
        gap: 100px;

        .content-holder {
          text-align: center;
          width: 60%;
        }
      }
    }

    .third-section {
      padding: 0 5%;
      background-color: $primary-color-background-main;
      display: flex;
      align-items: center;

      .image-container {
        width: 50%;

        img {
          display: block;
          margin: auto;
          max-width: 100%;
          height: auto;
        }
      }

      .content-container {
        width: 50%;


        .text-container {
          padding: 0 10%;

          img {
            position: relative;
            top: 3px;
          }

          a {
            padding-bottom: 5px;
            border-bottom: 1px solid $accent-color-cyan;
            transition: color 0.2s;

            &:hover {
              color: $accent-color-cyan;
            }
          }
        }
      }
    }

    .fourth-section {
      padding: 8% 5% 20%;
      background-color: $primary-color-background-main;

      .background-quote {
        position: relative;
        top: 15px;
      }

      .section-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content-holder {
          background-color: $primary-color-background-testimonials;
          margin: 0 1%;
          z-index: 1;
          -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);

          .text-content {
            padding: 30px;

            p {
              line-height: 175%;
            }

            .testimony-container {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              margin-top: 25px;

              img {
                width: 30px;
                border-radius: 100%;
                margin-right: 15px;
              }

              .info-container {

                h4 {
                  margin: unset;
                  font-size: 0.65rem;
                }

                p {
                  margin: unset;
                  margin-top: 3px;
                  font-size: 0.6rem;
                }
              }
            }
          }
        }
      }
    }

    .calling-section {
      background-color: $primary-color-background-intro;
      width: 65%;
      margin-top: -150px;
      position: absolute;
      left: 17.5%;
      text-align: center;
      border-radius: 15px;
      -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);

      .section-content {
        padding: 50px 5%;

        h1 {
          margin: 20px 0 0;
        }

        p {
          width: 80%;
          margin: 30px auto;
          font-size: 1rem;
        }

        form {

          input {
            border: none;
            width: 50%;
            height: 60px;
            border-radius: 50px;
            padding: 0 50px;
            margin-right: 40px;
            margin-bottom: 20px;

            &::placeholder {
              position: relative;
              transition: color 0.2s;
            }

            &:focus {
              outline: none;
            }

            &:focus::placeholder {
              color: transparent;
            }
          }

          button {
            padding: 20px 40px;
          }
        }
      }
    }

    .footer-section {
      background-color: $primary-color-background-footer;
      padding: 300px 5% 50px;

      .footer-container {
        display: grid;
        grid-template-columns: 30% 1fr 1fr 15%;
        grid-template-rows: 1fr;
        justify-items: center;
        margin: 30px 0;

        .location-container {
          display: flex;
          align-items: flex-start;

          p {
            margin: 0 0 0 20px;
          }

          img {
            position: relative;
            top: 5px;
          }
        }

        .contact-container {

          .element {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            p {
              margin: 0 0 0 20px;
              transition: color 0.2s;

              &:hover {
                color: $accent-color-cyan;
              }
            }

            img {
              position: relative;
              top: 2px;
            }
          }
        }

        .nav-container {
          display: flex;
          align-items: flex-start;
          justify-content: space-evenly;
          width: 100%;

          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: 1rem;

            li {
              margin-bottom: 20px;

              a {
                transition: color 0.2s;

                &:hover {
                  color: $accent-color-cyan;
                }
              }
            }
          }
        }

        .social-container {
          display: flex;
          height: min-content;

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            font-size: 1rem;
            border: 1px solid $neutral-color;
            border-radius: 100%;
            margin: 0 5px;
            transition: color 0.2s, border-color 0.2s;

            &:hover {
              color: $accent-color-cyan;
              border-color: $accent-color-cyan;
            }
          }
        }
      }

      .attribution {
        text-align: right;
        font-size: 0.8rem;

        a {
          transition: color 0.2s;

          &:hover {
            color: $accent-color-cyan;
          }
        }
      }
    }
  }

  @include mobile {

    .page-container {

      .header-container {
        padding: 10% 5%;

        .logo-container {

          img {
            width: 100px;
          }
        }

        .nav-container {
          width: unset;

          a {
            font-size: 0.8rem;
            margin: 0 8px;
          }
        }
      }

      .first-section {
        padding: 8%;
        margin: unset;

        .image-container {

          img {
            width: 90%;
          }
        }

        .text-container {
          width: unset;
          margin: unset;

          h1 {
            font-size: 1.5rem;
            margin-bottom: 0px;
          }

          p {
            font-size: 1rem;
            margin: 20px auto;
          }

          form {

            button {
              margin: 10px auto;
            }
          }
        }
      }

      .background-curve {
        margin-top: -400px;
      }

      .second-section {
        padding: 400px 8% 15%;

        .section-content {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          width: unset;
          margin: unset;
          gap: 75px;

          .content-holder {
            width: 90%;

            h2 {
              font-size: 1.2rem;
            }
          }
        }
      }

      .third-section {
        flex-direction: column;
        padding: 20% 8%;

        .image-container {
          width: 90%;
        }

        .content-container {
          width: unset;

          .text-container {
            padding: unset;

            h1 {
              font-size: 1.1rem;
              margin: 50px 0 20px;
            }

            a {
              color: $accent-color-cyan;
            }
          }
        }
      }

      .fourth-section {
        padding: 20% 12% 450px;

        .background-quote {
          width: 25px;
          top: 5px;
          left: 10px;
        }

        .section-content {
          flex-direction: column;

          .content-holder {
            margin: unset;
            margin-bottom: 30px;

            .text-content {
              padding: 25px;
              
              p {
                font-size: 0.75rem;
                margin: 5px 0;
              }
              
              .testimony-container {
                margin-top: 20px;
              }
            }
          }
        }
      }

      .calling-section {
        width: 90%;
        left: 5%;
        margin-top: -300px;

        .section-content {
          padding: 30px 0 40px;

          h1 {
            font-size: 1.2rem;
          }

          p {
            margin: 20px auto;
            font-size: 1rem;
          }

          form {
            input {
              margin: 20px auto;
              padding: 0 25px;
              width: 65%;
              height: 50px;
              font-size: 0.8rem;
            }

            button {
              padding: 15px 75px;
            }
          }
        }
      }

      .footer-section {
        padding: 180px 8% 50px;

        .footer-container {
          grid-template-columns: 1fr;
          grid-template-rows: auto auto auto auto;
          justify-items: unset;
          gap: 20px;

          .location-container {
            
            p {
              margin-left: 30px;
            }
          }

          .nav-container {
            flex-direction: column;

            ul {
              margin: 20px 0;
            }
          }
          
          .social-container {
            justify-self: center;
          }
        }

        .attribution {
          text-align: center;

          a {
            color: $accent-color-cyan
          }
        }
      }
    }
  }
}