a {
  text-decoration: none;
  color: white;
}

button {
  padding: 20px 100px;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  background-color: #339ecc;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

button:hover {
  cursor: pointer;
  background-image: unset;
  background-color: #65e2d9;
}

h1 {
  font-size: 2.2rem;
  margin: 30px 0;
  line-height: 150%;
}

body {
  font-size: 14px;
  margin: 0;
  background-color: #1c2431;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  font-family: 'Open Sans';
}

body:hover {
  cursor: default;
}

body .page-container .header-container {
  padding: 5%;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .page-container .header-container .nav-container {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Raleway';
  font-size: 1.2rem;
}

body .page-container .header-container .nav-container a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

body .page-container .header-container .nav-container a:hover {
  color: #65e2d9;
}

body .page-container .first-section {
  padding: 0 5%;
  margin: 5% auto;
  text-align: center;
}

body .page-container .first-section .text-container {
  width: 50%;
  margin: auto;
}

body .page-container .first-section .text-container p {
  font-size: 1.4rem;
  width: 80%;
  margin: 40px auto;
}

body .page-container .background-curve {
  position: relative;
  margin-top: -18%;
  z-index: -1;
}

body .page-container .background-curve img {
  width: 100%;
  display: block;
}

body .page-container .background-curve .mobile {
  display: none;
}

@media only screen and (max-width: 375px) {
  body .page-container .background-curve .desktop {
    display: none;
  }
  body .page-container .background-curve .mobile {
    display: initial;
  }
}

body .page-container .second-section {
  padding: 0 5% 8%;
  background-color: #181f2a;
}

body .page-container .second-section .section-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 75%;
  margin: auto;
  justify-items: center;
  gap: 100px;
}

body .page-container .second-section .section-content .content-holder {
  text-align: center;
  width: 60%;
}

body .page-container .third-section {
  padding: 0 5%;
  background-color: #181f2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .page-container .third-section .image-container {
  width: 50%;
}

body .page-container .third-section .image-container img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

body .page-container .third-section .content-container {
  width: 50%;
}

body .page-container .third-section .content-container .text-container {
  padding: 0 10%;
}

body .page-container .third-section .content-container .text-container img {
  position: relative;
  top: 3px;
}

body .page-container .third-section .content-container .text-container a {
  padding-bottom: 5px;
  border-bottom: 1px solid #65e2d9;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

body .page-container .third-section .content-container .text-container a:hover {
  color: #65e2d9;
}

body .page-container .fourth-section {
  padding: 8% 5% 20%;
  background-color: #181f2a;
}

body .page-container .fourth-section .background-quote {
  position: relative;
  top: 15px;
}

body .page-container .fourth-section .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .page-container .fourth-section .section-content .content-holder {
  background-color: #202a3c;
  margin: 0 1%;
  z-index: 1;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

body .page-container .fourth-section .section-content .content-holder .text-content {
  padding: 30px;
}

body .page-container .fourth-section .section-content .content-holder .text-content p {
  line-height: 175%;
}

body .page-container .fourth-section .section-content .content-holder .text-content .testimony-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 25px;
}

body .page-container .fourth-section .section-content .content-holder .text-content .testimony-container img {
  width: 30px;
  border-radius: 100%;
  margin-right: 15px;
}

body .page-container .fourth-section .section-content .content-holder .text-content .testimony-container .info-container h4 {
  margin: unset;
  font-size: 0.65rem;
}

body .page-container .fourth-section .section-content .content-holder .text-content .testimony-container .info-container p {
  margin: unset;
  margin-top: 3px;
  font-size: 0.6rem;
}

body .page-container .calling-section {
  background-color: #1c2431;
  width: 65%;
  margin-top: -150px;
  position: absolute;
  left: 17.5%;
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

body .page-container .calling-section .section-content {
  padding: 50px 5%;
}

body .page-container .calling-section .section-content h1 {
  margin: 20px 0 0;
}

body .page-container .calling-section .section-content p {
  width: 80%;
  margin: 30px auto;
  font-size: 1rem;
}

body .page-container .calling-section .section-content form input {
  border: none;
  width: 50%;
  height: 60px;
  border-radius: 50px;
  padding: 0 50px;
  margin-right: 40px;
  margin-bottom: 20px;
}

body .page-container .calling-section .section-content form input::-webkit-input-placeholder {
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

body .page-container .calling-section .section-content form input:-ms-input-placeholder {
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

body .page-container .calling-section .section-content form input::-ms-input-placeholder {
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

body .page-container .calling-section .section-content form input::placeholder {
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

body .page-container .calling-section .section-content form input:focus {
  outline: none;
}

body .page-container .calling-section .section-content form input:focus::-webkit-input-placeholder {
  color: transparent;
}

body .page-container .calling-section .section-content form input:focus:-ms-input-placeholder {
  color: transparent;
}

body .page-container .calling-section .section-content form input:focus::-ms-input-placeholder {
  color: transparent;
}

body .page-container .calling-section .section-content form input:focus::placeholder {
  color: transparent;
}

body .page-container .calling-section .section-content form button {
  padding: 20px 40px;
}

body .page-container .footer-section {
  background-color: #0b1523;
  padding: 300px 5% 50px;
}

body .page-container .footer-section .footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 1fr 1fr 15%;
      grid-template-columns: 30% 1fr 1fr 15%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  margin: 30px 0;
}

body .page-container .footer-section .footer-container .location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .page-container .footer-section .footer-container .location-container p {
  margin: 0 0 0 20px;
}

body .page-container .footer-section .footer-container .location-container img {
  position: relative;
  top: 5px;
}

body .page-container .footer-section .footer-container .contact-container .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

body .page-container .footer-section .footer-container .contact-container .element p {
  margin: 0 0 0 20px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

body .page-container .footer-section .footer-container .contact-container .element p:hover {
  color: #65e2d9;
}

body .page-container .footer-section .footer-container .contact-container .element img {
  position: relative;
  top: 2px;
}

body .page-container .footer-section .footer-container .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

body .page-container .footer-section .footer-container .nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body .page-container .footer-section .footer-container .nav-container ul li {
  margin-bottom: 20px;
}

body .page-container .footer-section .footer-container .nav-container ul li a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

body .page-container .footer-section .footer-container .nav-container ul li a:hover {
  color: #65e2d9;
}

body .page-container .footer-section .footer-container .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

body .page-container .footer-section .footer-container .social-container i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 100%;
  margin: 0 5px;
  -webkit-transition: color 0.2s, border-color 0.2s;
  transition: color 0.2s, border-color 0.2s;
}

body .page-container .footer-section .footer-container .social-container i:hover {
  color: #65e2d9;
  border-color: #65e2d9;
}

body .page-container .footer-section .attribution {
  text-align: right;
  font-size: 0.8rem;
}

body .page-container .footer-section .attribution a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

body .page-container .footer-section .attribution a:hover {
  color: #65e2d9;
}
/*# sourceMappingURL=styles.css.map */